services:
  web:
    build: .
    volumes:
      - .:/usr/src/web/
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - chrome
    env_file:
      - .env

  db:
    image: postgres
    container_name: local_pgdb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - local_pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  redis:
    image: redis:6

  chrome:
    image: seleniarm/standalone-chromium
    ports:
      - "4444:4444"

volumes:
  local_pgdata:
  pgadmin-data:
